@charset "UTF-8";

/*css 初始化*/
*{margin: 0px;padding: 0px;border: 0px;}

:root{
    color-scheme: light dark;
}

/*按钮样式*/
button{
    padding: 2px 10px; 
    margin: 2px; 
    background-color: mediumpurple;
    color: #FFF;
    border: 1px solid #ccc;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: mediumorchid;
}

/*段落样式*/
p{
    margin-bottom: 8px;
    padding: 2px;
    background-color: #f5f5f5;
}

@media(prefers-color-scheme: dark){
    body{
        background: #3f3f3f;
        color: #FFF;
    }
    p{
        background-color: #535353;
    }
}
@media(prefers-color-scheme: light){
    body{
        background: #FFF;
        color:#000;
    }
}